.carousel{
  padding-bottom: 50px;
  .carousel-indicators{
   bottom: 0;
  }
  .carousel-control {
    .glyphicon{
      top: 30%;
    }
    background: none;
  }
  .carousel-inner{
    .item .row{
      display: flex;
        align-items: center;
        justify-content: center;
    }
  }
}

.quote {
  font-size: 5rem;
  color: @grey-dark;
}
