@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');
@import "variables.less";
@import "mixins.less";
@import "base.less";
@import "nav.less";
@import "intro.less";
@import "button.less";
@import "sections.less";
@import "carousel.less";
@import "map.less";
@import "list.less";
@import "profile.less";
@import "cards.less";


.light {
    font-weight: 400;
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(white, 20%);
}
