.content-section {
    padding-bottom: 60px;
    padding-top: 0;
    @media(min-width:767px) {
      padding-top: 50px;
    }
}

.section-alt {
  background-color: @primary-grey;
  color: @grey-dark;
  h2{
    color: @grey-dark;
  }
}

.section-reverse {
  background-color: @white;
  color: @grey-dark;
  h2{
    color: @grey-dark;
  }
  .carousel-indicators{
    li {
      border: 1px solid @primary-grey;
    }
    .active {
      background-color: @primary-grey;
    }
  }
  .carousel-control {
    color: @primary-grey;
  }
}

.section-gradient {
  background: @primary-gradient;
}

.about-section {
  background-color: @black;
}

.section-subheading {
  text-transform: none;
  font-weight: 400;
}

#services{
  background: url(../img/services-bg.png) no-repeat center center;
  //background-color: @grey-dark;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
}

footer {
  background-color: @black;
}
