.content-section {
    padding-bottom: 50px;
    padding-top: 0;
    @media(min-width:767px) {
      padding-top: 50px;
    }
}

.section-alt {
  background-color: @primary-grey;
  color: @grey-dark;
  h2{
    color: @grey-dark;
  }
}

.section-reverse {
  background-color: @white;
  .carousel-control {
    color: @primary-grey;
  }
  .carousel-indicators{
    li {
      border: 1px solid @primary-grey;
    }
    
    .active {
      background-color: @primary-grey;
    }
  }
}

.gradient-section {
  background: @primary-gradient;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
